<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">
		
		<title>Socket Chat test for Joice app</title>
	</head>
	<body>
		<h1>Joice recipe concierge</h1>
		<!-- list of messages -->
<!-- 	<ul id="messages"></ul> -->
	<!-- form to send a new message -->
<!-- 	<form id="send-msg">
		<input type="text" id="new-msg" placeholder="Your message" autofocus>
		<input type="submit" value="Send">
	</form> -->

	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment"></span> Chat
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-chevron-down"></span>
							</button>
							<ul class="dropdown-menu slidedown">
								<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
								</span>Refresh</a></li>
								<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
								</span>Available</a></li>
								<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
								</span>Busy</a></li>
								<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
							Away</a></li>
							<li class="divider"></li>
							<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
						Sign Out</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<ul class="chat" id="messages">
					<li class="left clearfix"><span class="chat-img pull-left">
						<img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
					</span>
					<div class="chat-body clearfix">
						<div class="header">
							<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
							<span class="glyphicon glyphicon-time"></span>12 mins ago</small>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
							dolor, quis ullamcorper ligula sodales.
						</p>
					</div>
				</li>
				<li class="right clearfix"><span class="chat-img pull-right">
					<img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
				</span>
				<div class="chat-body clearfix">
					<div class="header">
						<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
						<strong class="pull-right primary-font">Bhaumik Patel</strong>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
						dolor, quis ullamcorper ligula sodales.
					</p>
				</div>
			</li>
			<li class="left clearfix"><span class="chat-img pull-left">
				<img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
					<span class="glyphicon glyphicon-time"></span>14 mins ago</small>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
					dolor, quis ullamcorper ligula sodales.
				</p>
			</div>
		</li>
		<li class="right clearfix"><span class="chat-img pull-right">
			<img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
		</span>
		<div class="chat-body clearfix">
			<div class="header">
				<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
				<strong class="pull-right primary-font">Bhaumik Patel</strong>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
				dolor, quis ullamcorper ligula sodales.
			</p>
		</div>
	</li>
</ul>
</div>
<div class="panel-footer">
	<form id="send-msg">
		<input type="text" id="new-msg" placeholder="Your message" autofocus>
		<input type="submit" value="Send">
	</form>
<!-- <div class="input-group" id="send-msg">
	<input id="btn-input new-msg" type="text" class="form-control input-sm" placeholder="Type your message here..." autofocus>
	<span class="input-group-btn">
		<button class="btn btn-warning btn-sm" id="btn-chat">
		Send</button>
	</span>
</div> -->
</div>
</div>
</div>
</div>
</div>

<!-- 	<form id="send-msg">
		<input type="text" id="new-msg" placeholder="Your message" autofocus>
		<input type="submit" value="Send">
	</form> -->

<!-- jquery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!-- custom script -->
<script type="text/javascript" src="main.js"></script>
</body>
</html>